.App {
  text-align: center;
font-size:19px;
font-family: cursive;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;

}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.hello {
	background:rgba(218, 184, 239, 0.251);
	border-radius: 5%;
	padding: 20px;
	margin: 75px;
  }

